.swiper-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  /* filter: brightness(10) */
}

.swiper-img-480 {
  min-height: 500px;
}

.swiper-img-200 {
  height: 400px;
  border-radius: 20px;
}

.swiper-pagination-bullet {
  width: 21px;
  height: 21px;
  color: #8F9DA4;
  text-decoration: none;
  text-align: right;
  background: url(../img/dot.png) 5px 5px no-repeat;
  opacity: 1
}

.swiper-pagination-bullet-active {
  background-position: 0 bottom;
}

.product-outer {
  background-image: url(../img/about_as2.png);
  overflow: hidden;
}

.product-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  background-position: 50% 50%;
  background-image: url(https://website-mp4.obs.cn-north-4.myhuaweicloud.com/images/chanping2.png);
  height: 750px;
}

.careers-in-div {
  width: 31%;
  /* height: 120px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px 0px rgba(20, 113, 255, 0.12);
  border-radius: 20px; */
  color: #666666;
  font-size: 16px;
  line-height: 28px;
  float: left;
  margin-right: 10px;
  overflow: hidden;
  margin-top: 40px
}

.careers-in-div-img {
  width: 50px;
}

.careers-in-div-chi {
  font-size: 24px;
  color: #000;
  line-height: 40px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.img-responsive1 {
  /* position: absolute;
  top: 80px; */
  width: 750px;
  margin-top: 80px;
  /* height: 400px; */

}

.product-text {
  position: absolute;
  left: 50%;
  top: 135px;
  background: #f9f9f9;
  box-sizing: border-box;
  border-radius: 6px;
  width: 40%;
  height: 280px;
  display: flex;
  align-items: center;
}

.product-text div {
  width: 80%;
  margin-left: 10%;
}

.swiper-container1 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-container1 .swiper-slide {

  width: 80%;
}

/* .swiper-container1 .swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-container1 .swiper-slide:nth-child(3n) {
  width: 40%;
} */
.swiper-container1 .swiper-div {
  color: #fff;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.swiper-container1 .swiper-div div:nth-child(1) {
  font-size: 36px;
  line-height: 50px;
}

.swiper-container1 .swiper-div div:nth-child(2) {
  font-size: 16px;

}

.product-outer1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://website-mp4.obs.cn-north-4.myhuaweicloud.com/images/product-outer1.png);
  /* height: 480px; */
  background-size: cover;
}

.join {
  height: 312px;
}

.join .careers-in-div .careers-in-div-chi {
  color: #fff;
}

.join .careers-in-div div:nth-child(3) {
  opacity: 0;
  transition: all 0.5s ease;
  margin-top: 10px;
}

.join .careers-in-div:hover div:nth-child(3) {
  opacity: 0.8;
  transition: all 0.5s ease;
}

.join .careers-in-div:hover {
  margin-top: 30px;
}

.join .careers-in-div {
  height: 210px;
  color: #fff;
}

.join .careers-in-div .careers-in-div-img {
  width: 50px;

}

.header-top-title {
  text-align: center;
}

.footerB {


  color: #B5B5B5;
  background: #141B1E;
  font-size: 12px;
  text-align: center;
  line-height: 60px;
}

.beian {
  color: #B5B5B5;
  margin-left: 20px;
}

.careers-swiper-div {
  width: 100%;
  text-align: center;
  color: #fff;
  height: 200px;
}

.careers-swiper-div-h {
  font-size: 24px;
  line-height: 60px;
}

.swiper-container2 .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: .2;
}

.swiper-container2 .swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
}